<template>
	<div class="app-container">
		<SFTitle :params="{ text: title, level: 2 }"></SFTitle>
		<el-form
			class="el-form"
			:model="form"
			:rules="rules"
			ref="form"
			label-width="150px"
		>
			<template v-for="(item, index) in fields">
				<el-form-item
					v-show="item.hasOwnProperty('show') ? item.show : true"
					:label="item.name"
					:key="`item${index}`"
					:for="item.id"
					:prop="item.id"
				>
					<el-input
						v-if="item.type === 'string' && !item.extendable"
						v-model="form[item.id]"
						:name="item.id"
						:placeholder="item.placeholder"
						@input="
							t =>
								(form[item.id] =
									account_page && item.id === 'account'
										? t.toLowerCase()
										: t)
						"
					/>
					<el-input
						v-if="item.type === 'textarea'"
						type="textarea"
						:rows="item.row || 3"
						v-model="form[item.id]"
						:name="item.id"
						:placeholder="item.placeholder"
					/>
					<el-input
						v-if="item.type === 'password'"
						type="password"
						v-model="form[item.id]"
						:name="item.id"
						:placeholder="item.placeholder"
					/>
					<el-input
						v-if="item.type === 'number' && !item.extendable"
						v-model.number="form[item.id]"
						:placeholder="item.placeholder"
					/>
					<el-select
						v-if="item.type === 'choice'"
						v-model="form[item.id]"
						:placeholder="item.placeholder"
						@change="changeForm(item.id)"
					>
						<el-option
							v-for="(opt, index) in item.option"
							:key="`${item.id}-option-${index}`"
							:label="opt.text"
							:value="opt.value"
						/>
					</el-select>

					<el-date-picker
						v-if="item.type === 'date'"
						v-model="form[item.id]"
						type="date"
						style="width: 30%;"
						:placeholder="item.placeholder"
					/>
					<el-date-picker
						v-if="item.type === 'daterange'"
						v-model="form[item.id]"
						type="daterange"
						style="width: 30%;"
						:placeholder="item.placeholder"
					/>
					<el-date-picker
						v-if="item.type === 'datetime'"
						v-model="form[item.id]"
						type="datetime"
						style="width: 30%;"
						:placeholder="item.placeholder"
					/>
					<el-date-picker
						v-if="item.type === 'datetimerange'"
						v-model="form[item.id]"
						type="datetimerange"
						style="width: 30%;"
						:placeholder="item.placeholder"
					/>
					<el-switch
						v-if="item.type === 'boolean'"
						v-model="form[item.id]"
						:disabled="item.immutable"
						@change="changeForm(item.id)"
					/>
					<el-checkbox-group
						v-if="item.type === 'multichoice'"
						v-model="form[item.id]"
						:disabled="item.immutable"
						:min="item.min"
						:max="item.max"
						@change="changeForm(item.id)"
					>
						<el-checkbox
							v-for="(opt, index) in item.option"
							:label="opt.value"
							:key="`${item.id}-option-${index}`"
						>
							{{ opt.text }}
						</el-checkbox>
					</el-checkbox-group>
					<el-cascader
						v-if="item.type === 'twzipcode'"
						v-model="form[item.id]"
						:options="counties_and_cities_of_taiwan"
						:name="item.id"
						:placeholder="item.placeholder"
					></el-cascader>
					<el-upload
						v-if="item.type === 'upload'"
						:action="`/api/flexform_upload/${form_name}/${item.id}`"
						:on-success="(response, file, fileList) => {uploadSuccess(response, file, fileList, item.id)}"
						:before-remove="handleBeforeRemove"
						:on-remove="(file, fileList) => {handleRemoveFile(file, fileList, item.id)}"
						:on-preview="(file) => handlerClickFile(file, item.id)"
						list-type="picture-card"
						:auto-upload="true">
						<i class="el-icon-plus"></i>
					</el-upload>
					<template v-if="item.extendable">
						<el-form-item
							v-for="(arrayItem, arrayIndex) in form[item.id]"
							:label="`${arrayIndex}`"
							label-width="50px"
							:key="arrayIndex"
						>
							<el-input
								style="width:70%; margin:5px"
								v-model="form[item.id][arrayIndex]"
							></el-input
							><el-button
								type="danger"
								plain
								@click.prevent="
								style="margin-left:10px"
									removeArrayItem(item.id, arrayIndex)
								>-</el-button
								"
							>
						</el-form-item>
						<el-form-item>
							<el-button @click="addArrayItem(item.id, item.type)"
								>+</el-button
							>
						</el-form-item>
					</template>
				</el-form-item>

				<el-form-item
					v-if="item.type === 'password'"
					:label="`confirm ${item.name}`"
					:key="`_confirm_item${index}`"
					:for="`_confirm_${item.id}`"
					:prop="`_confirm_${item.id}`"
				>
					<el-input
						type="password"
						v-model="form[`_confirm_${item.id}`]"
						:name="`_confirm_${item.id}`"
					/>
				</el-form-item>
			</template>
			<el-form-item v-if="!hide_submit">
				<el-button type="primary" @click="onSubmit('form')"
					>{{ $t('message.create') }}</el-button
				>
				<el-button @click="onReset('form')">{{ $t('message.reset') }}</el-button>
			</el-form-item>
			<el-dialog :visible.sync="dialogVisible">
				<img width="100%" :src="file.url" alt="" />
				<el-input
					placeholder= "{{ $t('message.input_name') }}"
					v-model="new_name"
					:disabled="file_disabled"
				>
				</el-input>
				<el-row :gutter="20">
					<el-button
						v-if="!file_disabled"
						type="primary"
						@click="save_file_name()"
						>{{ $t('message.change_file_name') }}</el-button
					>
					<el-button type="primary" @click="download_file()"
						>{{ $t('message.download') }}</el-button
					>
					<a
						id="download"
						:href="file.url"
						:download="file.name"
						hidden
					></a>
				</el-row>
			</el-dialog>
		</el-form>
	</div>
</template>
<script>
import { mapGetters } from 'vuex';
import SFTitle from '@/components/SFTitle.vue';
import { create } from '@/api/form';
import axios from 'axios';
import twzipcode from 'twzipcode-data';
export default {
	name: 'Dashboard',
	props: ['params'],
	components: {
		SFTitle
	},
	data: function() {
		return {
			fields: {},
			page: '',
			form: {},
			api: {},
			rules: {},
			options: {},
			dialogVisible: false,
			file: {},
			file_field: '',
			new_name: ''
		};
	},
	created() {
		const string_type = ['string', 'choice','upload'];
        const date_type = ['date'];
		const array_type = ['multichoice'];
		const object_type = [];
		const boolean_type = ['boolean'];
		axios.get(this.schemaUrl).then(json => {
			this.name = json.data.name;
			this.title = this.title || json.data.name;
			this.fields = json.data.data.fields;
			this.options = json.data.data.meta || {};
			this.page = json.data.page;

			let form_data = {},
				rule_data = {};
			Object.values(this.fields).forEach(field => {
				let field_type = field.type;
				let rulesArray = [];
				if (string_type.includes(field_type) && !field.extendable) {
					form_data[field.id] = '';
				} if (date_type.includes(field_type) && !field.extendable) {
					form_data[field.id] = new Date();
				} 
				else if (
					array_type.includes(field_type) ||
					field.extendable
				) {
					form_data[field.id] = [];
				}
				// else if (
				// 	object_type.includes(field_type) ||
				// 	field.extendable
				// ) {
				// 	form_data[field.id] = {};
				// }
				
				if (field.required)
					rulesArray.push({
						required: field.required,
						message: this.$t('message.please_input') + ` ${field.name}`
					});
				if (field_type === 'number')
					rulesArray.push({
						type: 'number',
						message: this.$t('message.please_input') + this.$t('message.number')
					});
				if (field.id === 'email')
					rulesArray.push({
						type: 'email',
						message: this.$t('message.please_input') + this.$t('message.correct')+ this.$t('message.email_address')
					});
				if (field.id === 'password') {
					let confirmRules = [
						...rulesArray,
						{ validator: validatePass, trigger: 'blur' }
					];
					rule_data[`_confirm_${field.id}`] = confirmRules;
				}
				if (field.validation) {
					field.validation.pattern = field.validation.pattern
						.split('/')
						.filter(param => !!param);
					rulesArray.push({
						pattern: new RegExp(...field.validation.pattern),
						message: field.validation.message,
						trigger: field.validation.trigger || 'change'
					});
				}
				rule_data[field.id] = rulesArray;
				if (field.type === 'choice' && field.default_value) {
					form_data[field.id] = field.default_value;
				}

				// handler show
				if (typeof field.show === 'undefined') {
					field.show = true;
				}

				if (this.show_all) {
					field.show = true;
				} else if (this.shows.length !== 0) {
					if (this.shows.indexOf(field.id) !== -1) {
						field.show = true;
					} else {
						field.show = false;
					}
				} else if (this.hidden.length !== 0) {
					if (this.hidden.indexOf(field.id) !== -1) {
						field.show = false;
					} else {
						field.show = true;
					}
				}
			});
			this.form = form_data;
			this.rules = rule_data;
		});
		var validatePass = (rule, value, callback) => {
			if (value === '') {
				callback(new Error(this.$t('message.input_again')));
			} else if (value !== this.form.password) {
				// eslint-disable-next-line prettier/prettier
				callback(new Error(this.$t('message.psw_not_match')));
			} else {
				callback();
			}
		};
	},
	computed: {
		...mapGetters(['roles']),
		title: function() {
			if (this.params && this.params.title) {
				return this.params.title;
			} else {
				return null;
			}
		},
		form_name: function() {
			if (this.params && this.params.form_name) {
				return this.params.form_name;
			} else {
				return this.$route.path.split('/')[1];
			}
		},
		schemaUrl: function() {
			let defaultUrl = `/api/${this.form_name}/schema`;
			return this.$route.meta
				? this.$route.meta.schemaUrl
					? this.$route.meta.schemaUrl
					: defaultUrl
				: defaultUrl;
		},
		submitUrl: function() {
			let defaultUrl = `/api/${this.form_name}`;
			return this.$route.meta
				? this.$route.meta.submitUrl
					? this.$route.meta.submitUrl
					: defaultUrl
				: defaultUrl;
		},
		shows: function() {
			if (this.params && this.params.shows) {
				return this.params.shows;
			} else {
				return [];
			}
		},
		hidden: function() {
			if (this.params && this.params.hidden) {
				return this.params.hidden;
			} else {
				return [];
			}
		},
		show_all: function() {
			if (this.params && this.params.show_all) {
				return this.params.show_all;
			} else {
				return false;
			}
		},
		hide_submit: function() {
			if (this.params && this.params.hide_submit) {
				return this.params.hide_submit;
			} else {
				return false;
			}
		},
		counties_and_cities_of_taiwan: function() {
			let data = twzipcode();
			let temp = [];

			for (let zipcode of data.zipcodes) {
				let country = temp.find(
					element => element.label === zipcode.county
				);
				if (!country) {
					temp.push({
						value: zipcode.county,
						label: zipcode.county,
						children: [
							{
								value: zipcode.city,
								label: zipcode.city
							}
						]
					});
				} else {
					country.children.push({
						value: zipcode.city,
						label: zipcode.city
					});
				}
			}
			return temp;
		},
		account_page: function() {
			return this.form_name === '_accounts';
		}
	},
	methods: {
		onSubmit(formName) {
			this.$refs[formName].validate(valid => {
				if (valid) {
					if (this.$listeners.onSubmitDone) {
						return this.$emit('onSubmitDone');
					}
					create(this.submitUrl, this.form, (err, result) => {
						if (err) {
							this.$message({
								message: err,
								type: 'error'
							});
						} else {
							this.$message({
								message: this.$t('message.submit') + '!',
								type: 'success'
							});
							if (result.data.customData) {
								this.customLogic(result.data.customData);
							}
							if (
								this.options.hasOwnProperty('actions') &&
								this.options.actions.hasOwnProperty('afterCreated') &&
								this.options.actions.afterCreated === 'last'
							) {
								this.$router.go(-1);
							} else {
								if(this.$route.meta.afterSubmit != '') {
									console.log(this.$route.meta.afterSubmit);
									this.$router.push({
										path: this.$route.meta.afterSubmit
									});
								}
								this.$refs[formName].resetFields();
							}
						}
					});
				} else {
					return false;
				}
			});
		},
		onReset(formName) {
			this.$confirm( this.$t('message.want_reset'), 'Warning', {
				confirmButtonText: this.$t('message.yes'),
				cancelButtonText: this.$t('message.no'),
				type: 'warning'
			})
				.then(() => {
					this.$refs[formName].resetFields();
				})
				.then(() => {
					this.$message({
						message: this.$t('message.reset') + '!',
						type: 'warning'
					});
				});
		},
		validate(formName) {
			let vm = this;
			return new Promise(function(resolve, reject) {
				vm.$refs[formName].validate(valid => {
					resolve(valid);
				});
			});
		},
		resetFields(formName) {
			let vm = this;
			return new Promise(function(resolve, reject) {
				vm.$refs[formName].resetFields();
				resolve();
			});
		},
		uploadSuccess(response, file, fileList, field) {
			file.file_name = response.file_name;
			this.form[field] = this.form[field] || [];
			this.form[field].push({
				name: file.name,
				file_name: file.file_name
			});
		},
		handleBeforeRemove(file, fileList) {
			return this.$confirm(this.$t('message.ok') +  this.$t('message.remove') + + ` ${file.name}？`);
		},
		handleRemoveFile(file, fileList, field) {
			let i = this.form[field].findIndex(
				element => element.file_name === file.file_name
			);
			this.form[field].splice(i, 1);
		},
		save_file_name() {
			// 更改檔案名稱
			let select_file = this.form[this.file_field].find(
				element => element.file_name === this.file.file_name
			);
			this.file.name = this.new_name;
			select_file.name = this.new_name;
			this.$message({
				type: 'success',
				message: this.$t('message.change_file_name') + this.$t('message.success')
			});
		},
		download_file() {
			document.getElementById('download').click();
		},
		handlerClickFile(file, field) {
			this.dialogVisible = true;
			this.file = file;
			this.new_name = file.name;

			this.file_field = field;
		},
		removeArrayItem(itemId, arrayIndex) {
			this.form[itemId].splice(arrayIndex, 1);
		},
		addArrayItem(itemId, type) {
			let newElement = null;
			if (type === 'string') {
				newElement = '';
			} else if (type === 'number') {
				newElement = 0;
			}
			this.form[itemId].push(newElement);
		},
		changeForm(id, sub_field) {
			// console.log('call changeForm');
			// console.log(sub_field);
			let field = this.fields.find(ele => ele.id === id);
			if (field.onChange) {
				let onChangeFunction = eval(field.onChange);
				onChangeFunction(this.form);
			}
		},
		async customLogic(data) {
			if (data.downloadUrl) {
				var response = await axios({
                    url: data.downloadUrl,
                    method: 'GET',
                    responseType: 'blob',
				})
				
				var fileURL = window.URL.createObjectURL(new Blob([response.data]));
				var fileLink = document.createElement('a');
				var file_route = data.downloadUrl.split('/');

                fileLink.href = fileURL;
                fileLink.setAttribute('download', file_route[file_route.length-1]);
				document.body.appendChild(fileLink);
                fileLink.click();
			}
		}
	}
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
	&-container {
		margin: 30px;
	}
	&-text {
		font-size: 30px;
		line-height: 46px;
	}
}
</style>
