<template>
	<div class="navbar">
		<hamburger
			:toggle-click="toggleSideBar"
			:is-active="sidebar.opened"
			class="hamburger-container"
		/>
		<breadcrumb />
		<el-dropdown class="profile-container" trigger="click">
			<div class="profile-wrapper">
				{{ this.username }}
				<i class="el-icon-caret-bottom" />
			</div>
			<el-dropdown-menu slot="dropdown" class="user-dropdown">
				<router-link class="inlineBlock" to="/">
					<el-dropdown-item>
						Home
					</el-dropdown-item>
				</router-link>
				<el-dropdown-item
					divided
					v-if="this.$store.state.config.permission === 'on'"
				>
					<span
						v-if="this.$store.state.config.permission === 'on'"
						style="display:block;"
						@click="logout"
						>LogOut</span
					>
				</el-dropdown-item>
			</el-dropdown-menu>
		</el-dropdown>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import Breadcrumb from '@/components/Breadcrumb';
import Hamburger from '@/components/Hamburger';

export default {
	components: {
		Breadcrumb,
		Hamburger
	},
	computed: {
		...mapGetters(['sidebar', 'avatar', 'username'])
	},
	methods: {
		toggleSideBar() {
			this.$store.dispatch('ToggleSideBar');
		},
		logout() {
			this.$store.dispatch('user/LogOut').then(() => {
				location.reload(); // 为了重新实例化vue-router对象 避免bug
			});
		}
	},
	data: function() {
		return {
			permission: this.$store.state.config.permission
		};
	}
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.navbar {
	height: 50px;
	line-height: 50px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
	.hamburger-container {
		line-height: 58px;
		height: 50px;
		float: left;
		padding: 0 10px;
	}
	.screenfull {
		position: absolute;
		right: 90px;
		top: 16px;
		color: red;
	}
	.profile-container {
		height: 50px;
		display: inline-block;
		position: absolute;
		right: 35px;
		.profile-wrapper {
			cursor: pointer;
			position: relative;
			line-height: inherit;
			.el-icon-caret-bottom {
				position: absolute;
				right: -20px;
				top: 16px;
				font-size: 16px;
			}
		}
	}
}
</style>
