<template>
	<div>
		<input
			type="text"
			:id="params.id"
			:value="params.value"
			:placeholder="params.placeholder"
			:for="params.for"
			:readonly="params.readonly"
		/>
	</div>
</template>

<script>
export default {
	props: ['params']
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
