<template>
	<input
		type="date"
		:id="params.id"
		:name="params.name"
		:value="params.value"
		:min="params.min"
		:max="params.max"
	/>
</template>

<script>
export default {
	props: ['params']
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
