<template>
	<component
		:is="'SFh' + params.level || SFh1"
		v-text="params.text"
	></component>
</template>

<script>
import SFh1 from './title/SF-h1.vue';
import SFh2 from './title/SF-h2.vue';
import SFh3 from './title/SF-h3.vue';
import SFh4 from './title/SF-h4.vue';
import SFh5 from './title/SF-h5.vue';
import SFh6 from './title/SF-h6.vue';

export default {
	name: 'SFTitle',
	props: ['params'],
	components: {
		SFh1,
		SFh2,
		SFh3,
		SFh4,
		SFh5,
		SFh6
	}
};
</script>
