<template>
	<div class="login-container">
		<el-form
			ref="loginForm"
			:model="loginForm"
			:rules="loginRules"
			class="login-form"
			auto-complete="on"
			label-position="left"
		>
			<h3 class="title">Login</h3>
			<el-form-item prop="account">
				<span class="svg-container">
					<svg-icon icon-class="user" />
				</span>
				<el-input
					v-model="loginForm.account"
					name="account"
					type="text"
					auto-complete="on"
					placeholder="account"
				/>
			</el-form-item>
			<el-form-item prop="password">
				<span class="svg-container">
					<svg-icon icon-class="password" />
				</span>
				<el-input
					:type="pwdType"
					v-model="loginForm.password"
					name="password"
					auto-complete="on"
					placeholder="password"
					@keyup.enter.native="handleLogin"
				/>
				<span class="show-pwd" @click="showPwd">
					<svg-icon
						:icon-class="
							pwdType === 'password' ? 'eye' : 'eye-open'
						"
					/>
				</span>
			</el-form-item>
			<el-form-item>
				<el-button
					:loading="loading"
					type="primary"
					style="width:100%;"
					@click.native.prevent="handleLogin"
				>
					Sign in
				</el-button>
			</el-form-item>
			<div v-if="fbLogin" id="app">
				<facebook-login class="button"
				appId="311893240054946"
				appSecret = "1dbf19ffca98132337d27d6fe501286c"
				@login="onLogin"
				@logout="onLogout"
				@get-initial-status="getUserData"
				@sdk-loaded="sdkLoaded">
				</facebook-login>
				<div v-if="isConnected" class="information">
				<h1>My Facebook Information</h1>
					<div class="well">
						<div class="list-item">
						<img :src="picture">
						</div>
						<div class="list-item">
						<i>{{name}}</i>
						</div>
						<div class="list-item">
						<i>{{email}}</i>
						</div>
						<div class="list-item">
						<i>{{personalID}}</i>
						</div>
					</div>
				</div>
			</div>
		</el-form>
	</div>
</template>

<script>
import { isvalidUsername } from '@/utils/validate';
import facebookLogin from 'facebook-login-vuejs';

export default {
	name: 'Login',
	components: {
		facebookLogin
	},
	data() {
		const validateUsername = (rule, value, callback) => {
			if (!isvalidUsername(value)) {
				callback(new Error('请输入正确的用户名'));
			} else {
				callback();
			}
		};
		const validatePass = (rule, value, callback) => {
			if (value.length < 1) {
				callback(new Error('密碼不能為空'));
			} else {
				callback();
			}
		};
		return {
			loginForm: {
				account: '',
				password: ''
			},
			loginRules: {
				account: [
					{
						required: true,
						trigger: 'blur',
						validator: validateUsername
					}
				],
				password: [
					{ required: true, trigger: 'blur', validator: validatePass }
				]
			},
			loading: false,
			pwdType: 'password',
			redirect: '/',
			isConnected: false,
			name: '',
			email: '',
			personalID: '',
			picture: '',
			fbLogin: false,
			FB: undefined
		};
	},
	watch: {
		$route: {
			handler: function(route) {
				this.redirect = route.query && route.query.redirect;
			},
			immediate: true
		}
	},
	methods: {
		showPwd() {
			if (this.pwdType === 'password') {
				this.pwdType = '';
			} else {
				this.pwdType = 'password';
			}
		},
		handleLogin() {
			this.$refs.loginForm.validate(valid => {
				if (valid) {
					this.loading = true;
					this.$store
						.dispatch('user/Login', this.loginForm)
						.then(response => {
							this.loading = false;
							if (response.err) {
								console.error(response.err);
								this.$message.error(response.err);
								return false;
							} else {
								location.reload();
							}
						})
						.catch(err => {
							this.loading = false;
							this.$message.error(err);
							return false;
						});
				} else {
					console.error('error submit!!');
					return false;
				}
			});
		},
		getUserData() {
			this.FB.api('/me', 'GET', { fields: 'id, name, email, picture'},
			user => {
				this.personalID = user.id;
				this.email = user.email;
				this.name = user.name;
				this.picture = user.name;
			})
		},
		sdkLoaded(payload) {
			this.isConnected = payload.isConnected;
			this.FB = payload.FB;
			if (this.isConnected) this.getUserData()
		},
		onLogin() {
			this.isConnected = true;
			this.getUserData();
		},
		onLogout() {
			this.isConnected = false;
		}
	},
};
</script>

<style rel="stylesheet/scss" lang="scss">
$bg: #2d3a4b;
$light_gray: #eee;

/* reset element-ui css */
.login-container {
	.el-input {
		display: inline-block;
		height: 47px;
		width: 85%;
		input {
			background: transparent;
			border: 0px;
			-webkit-appearance: none;
			border-radius: 0px;
			padding: 12px 5px 12px 15px;
			color: $light_gray;
			height: 47px;
			&:-webkit-autofill {
				-webkit-box-shadow: 0 0 0px 1000px $bg inset !important;
				-webkit-text-fill-color: #fff !important;
			}
		}
	}
	.el-form-item {
		border: 1px solid rgba(255, 255, 255, 0.1);
		background: rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		color: #454545;
	}
}
</style>

<style rel="stylesheet/scss" lang="scss" scoped>
$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #eee;
.login-container {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: $bg;
	.login-form {
		position: absolute;
		left: 0;
		right: 0;
		width: 520px;
		max-width: 100%;
		padding: 35px 35px 15px 35px;
		margin: 120px auto;
	}
	.tips {
		font-size: 14px;
		color: #fff;
		margin-bottom: 10px;
		span {
			&:first-of-type {
				margin-right: 16px;
			}
		}
	}
	.svg-container {
		padding: 6px 5px 6px 15px;
		color: $dark_gray;
		vertical-align: middle;
		width: 30px;
		display: inline-block;
	}
	.title {
		font-size: 26px;
		font-weight: 400;
		color: $light_gray;
		margin: 0px auto 40px auto;
		text-align: center;
		font-weight: bold;
	}
	.show-pwd {
		position: absolute;
		right: 10px;
		top: 7px;
		font-size: 16px;
		color: $dark_gray;
		cursor: pointer;
		user-select: none;
	}

#app {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}
	.information {
		margin-top: 100px;
		margin: auto;
		display: flex;
		flex-direction: column;
	}
	.well {
		background-color: rgb(191, 238, 229);
		margin: auto;
		padding: 50px 50px;
		;
		border-radius: 20px;
		/* display:inline-block; */
	}
	.login {
		width: 400px;
		margin: auto;
	}
	.list-item:first-child {
		margin: 0;
	}
	.list-item {
		display: flex;
		align-items: center;
		margin-top: 20px;
	}
	.button {
		margin: auto;
	}
}

</style>
